.headerback{
    width:400px;
    height:110px;
    background-image:url('../../assets/headerback.svg');
    background-position:top left;
    background-repeat: no-repeat;
    background-size: contain;
    float:left;
}


.footerback{
    width:400px;
    height:110px;
    background-image:url('../../assets/footerback.svg');
    background-position:bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    float:right;
}

.footer, .header{
    position:fixed;
    z-index: 1;
    overflow: hidden;
    width:100%;
}

.header{
    top:0;
    left:0;
}

.footer{
    bottom:0px;
    right:0px;
}

.logotext{
    font-weight: bold;
    color:white;
    font-size:25px;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.body{   
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:70%;
    margin:0px auto;
    margin-top:80px;
    gap:100px;
}

.bigtext{
display: flex;
align-items: center;
    font-size:50px;
    padding:20px;
    font-family: germania;
}

.sharefile{
    border:none;
    background: #00703C;
    border-radius: 50px;
    padding:10px 60px;
    font-size: 20px;
    font-weight: bold;
    color:white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}


.selectfile{
  background: #00703C;
  border-radius: 50px;
  padding:10px 20px;
  font-size: 13px;
  font-weight: bold;
  color:white;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: none;
  margin:0px auto;
}



.sharefile:hover{
    box-shadow: 0 5px 20px rgba(50, 202, 50, 0.5);
}

.buttonpack{
    padding: 20px;
    display: none;
}

.textpack{
    padding:70px 0px;
}

.curvpack{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.curv{
    border-radius: 20px;
    background: #00703C;
    height:200px;
    width:200px;
    background-size: 100px 100px;
    background-position: center center;
    background-repeat: no-repeat;
   
}

.curvtext{
    font-size:20px;
    color:#000;
    font-weight: bold;
    bottom:10px;
    text-align: center;
    margin:10px 0px;
}

.workswith{
    grid-column: 1 / span 2;
    padding:40px;
    font-size: 45px;   
    font-family: germania; 
    margin-top: 20px;
}

.thirdcurv{
    grid-column: 1 / span 2;
}

.imagefiles{
    background-image: url('../../assets/imagefiles.png');
}

.docfiles{
    background-image: url('../../assets/documentfiles.png');
}

.anyfiles{
    background-image:url('../../assets/anyfiles.png');
}

@mixin sp-layout {
    @media screen and (max-width: 750px) {
      @content;
    }
  }

  
  @function random_range($min, $max) {
    $rand: random();
    $random_range: $min + floor($rand * (($max - $min) + 1));
    @return $random_range;
  }
  
  .stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    transform: rotate(-45deg);
    z-index: -1;
  }
  
  .star {
    $star-count: 30;
    --star-color: /* rgba(192,192,192,0.3) */ rgba(0,112,60,0.2);
    --star-tail-length: 5em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
  
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    opacity: 0.3;
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
    
    @include sp-layout {
      // For mobile performance, tail-fade animation will be removed QAQ
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
  
    @for $i from 1 through $star-count {
      &:nth-child(#{$i}) {
        --star-tail-length: #{random_range(500em, 750em) / 100};
        --top-offset: #{random_range(0vh, 10000vh) / 100};
        --fall-duration: #{random_range(6000, 12000s) / 1000};
        --fall-delay: #{random_range(0, 10000s) / 1000};
      }
    }
  
    &::before, &::after {
      position: absolute;
      content: '';
      top: 0;
      left: calc(var(--star-width) / -2);
      width: var(--star-width);
      height: 100%;
      background: linear-gradient(45deg, transparent, currentColor, transparent);
      border-radius: inherit;
      animation: blink 2s linear infinite;
    }
  
    &::before {
      transform: rotate(45deg);
    }
  
    &::after {
      transform: rotate(-45deg);
    }
  }
  
  @keyframes fall {
    to {
      transform: translate3d(-30em, 0, 0);
    }
  }
  
  @keyframes tail-fade {
    0%, 50% {
      width: var(--star-tail-length);
      opacity: 1;
    }
  
    70%, 80% {
      width: 0;
      opacity: 0.4;
    }
  
    100% {
      width: 0;
      opacity: 0;
    }
  }
  
  @keyframes blink {
    50% {
      opacity: 0.6;
    }
  }

  .selecttab{
    padding:20px;
    background:white;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
    margin:0px 20px;
    width:60%;
    border-radius:10px;
  }

  .uploadtext{
    font-size:30px;
    font-family:germania;
  }

  .dragtext{
    font-size:17px;
    color:#c0c0c0;
    margin:20px;
    text-align: center;
  }

  .simpleline{
     background:rgba(192,192,192,0.3);
     margin:15px 0px;
     height:1px;
  }

  .fileplaceholder{
    font-size:35px;
    width:40%;
    height:100px;
    margin:0px auto;
    color:#c0c0c0;
    border:5px dashed #c0c0c0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
  }

  .buttoncont{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:10px;
  }
