<div class="header">
  <div class="headerback">
    <div class="logotext">WaveTransfer</div>
  </div>
</div>

<div class="body">
  <div class="textpack">
    <div class="bigtext">
      Seamlessly Share Files Online<br />
      With WaveTransfer
    </div>
    <br />
    <div class="buttonpack">
      <button class="sharefile" (click)="shareFile()">Share A File</button>
    </div>

    <div class="uploadtab">
      <div class="selecttab">
       <div class="uploadtext">Upload File</div> 
       <div class="simpleline"></div>

       <div class="fileplaceholder">
        +
       </div>

       <div class="dragtext">Drag a file here or select file</div>

       <div class="simpleline"></div>

    <div class="buttoncont">
      <button class="selectfile" (click)="selectFile()">Select File</button>
    </div>
      
     

      </div>
    </div>


  </div>

  <div class="curvpack">

    <div class="workswith">
      Share
    </div>

    <div>
      <div class="curv imagefiles">
      </div>
      <div class="curvtext">Image Files</div>
    </div>

    <div>
      <div class="curv docfiles">
       
      </div>
      <div class="curvtext">Documents</div>
    </div>

    <div class="thirdcurv">
      <div class="curv anyfiles">
       
      </div>
      <div class="curvtext">Any Media</div>
    </div>
  
  </div>

  <div class="stars">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
  </div>
  



</div>

<div class="footer">
  <div class="footerback"></div>
</div>
